@use '../../styles/variables' as *;
@use '../../styles/patterns' as *;

.navbar {
  @include surface-lavender-bar;
  padding: 1rem 8rem;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include body-1;
  }

  &__logo {
    display: flex;
    align-items: center;
    color: $primary;
  }

  &__homeIcon {
    display: block;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
